{% extends "apar/layout.html" %}

{% block content %}


<ul>
   <li><a href="{% url 'create_invoice' %}">新增帳款</a></li>
   <li><a href="{% url 'invoice_list' %}">發票清單</a></li>
   <li><a href="{% url 'partner_list' %}">新增合作夥伴</a></li>
</ul>

<div class="container mt-5">
  <div class="row">
    <!-- 左邊區塊 -->
    <div class="col-md-6">
      <h2>⚡開發原因⚡</h2>
      <p>這是一個簡單的會計發票系統，使用 Django 框架開發。</p>
      <p>
         在找會計相關工作時，完全沒有會計實務經驗，發現自己對公司每兩個月報營業稅的流程不熟，因此透過 Django 製作此系統，一方面學習營業稅處理邏輯，一方面複習 Django 技術。
         我是從CS50WEB的課程學習到Django的基礎，搭配ChatGPT的協助，完成了這個簡單的會計發票系統。
         希望能複習會計知識，並且能在工作中運用到技能，若能幫助需要申報營業稅的公司就太好了。</p>
         <p>
         最終目的是希望能找一份工作。
         
</p>
    </div>

    <!-- 右邊區塊 -->
    <div class="col-md-6">
      <h2>🌸如何使用🌸</h2>
      <p>在發票清單上可以看到所有新增發票的列表，有更改付款欄位可以確認付款狀態，並且有刪除欄位可以刪除發票資料。</p>
         <p> 最上面有篩選日期來查看特定時間範圍內的發票。 篩選好的發票會顯示在日期間所有發票的銷項稅額和進項稅額及應納稅額或扣抵稅額，
          想把資料匯出可以按匯出csv按鈕，會下載一個csv檔案，裡面有篩選日期間的發票資料和稅額。</p>
          </p>
          <p>新增帳款中，可以輸入發票資料(收入是應收帳款，付出費用是應付帳款)，輸入完的發票會顯示在發票清單。</p>   
          <p>新增合作夥伴是輸入合作廠商，可能是客戶或者是購買商品的供應廠商，新增合作夥伴後就可以在新增帳款的廠商中選取。</p>
          <p>右上角的C(進入新增帳款，發票清單，新增合作夥伴)是回到本頁面的按鈕。</p>
          <p>這是個人寫的小專案，可能有不完善的地方，目前是先做簡單的發票系統。因為要找工作，未來不太會想要再寫程式，算是一個小小的句點。</p>

      
    </div>
  </div>
</div>








{% endblock %}